@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {

} */
.custom-btn {
  background-color: transparent;
  border: 2px solid;
  border-image: linear-gradient(
    to right,
    rgb(0, 169, 0),
    yellow,
    orange,
    rgb(255, 19, 19),
    rgb(255, 143, 255)
  );
  border-image-slice: 1;
  outline: none; /* optional: remove outline */
  border-radius: 20px !important;
}
.custom-btn:hover {
  border-image: linear-gradient(
    to right,
    orange,
    rgb(255, 19, 19),
    rgb(255, 143, 255),
    rgb(0, 169, 0),
    yellow
  );
  border-image-slice: 1;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
